<header>
      <nav></nav>
  		<nav class="navbar navbar-expand-sm navbar-light bg-dark container-fluid">
  			<img src="">
  				<a class="navbar-brand text-light">MAIN</a><a class="navbar-brand text-danger">SHOP</a> 			
  			<div class="nav-item navbar-collapse container">
  			  <form class="form-inline my-2 my-lg-0 lebar">
      			<input class="panjang" type="search" placeholder="Cari" aria-label="Search">
      			<button class="btn my-2 my-sm-0 bg-danger" type="submit">Cari</button>
    			</form>  			  	 		
  			</div>
        <div class="dropdown search">
          <button class="dropbtn btn-dark">Masuk</button>
          <div class="dropdown-content" align="center">
            <a><h3 class="text-light">MASUK</h3></a>
            <a><input type="email" name="email" placeholder="contoh@email.com"></a>
            <a><input type="password" name="password" placeholder="password"></a> 
            <a><button type="submit" class="btn-primary">Masuk</button></a>
            <p class="text-light">Belum punya Akun? <a href="#" class="text-primary">Buat akun</a></p>
          </div>
        </div> 
		  </nav>      
  	</header>